header {
    // mobile (xs)
    font-family: "Nunito", sans-serif;
    width: 100%;
    color: white;

    .container {
        padding: $padding-2;
        width: 100%;
        margin: auto;
    }

    .container-green-bg {
        background-color: $color-primary;
    }

    .container-white-bg {
        background-color: white;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .top-navbar {
        padding: 20px 5px 15px 5px;;
    }

    .top-navbar a {
        margin-right: 20px;
    }

    .top-navbar span {
        display: none;
    }

    .email-call-location {
        display: flex;
    }

    .header-menu {
        list-style: none;
        width: 53px;
        height: 16px;
        font-size: 12px;
        line-height: 17px;
    }

    .menu > .header-menu > li {
        display: flex;
    }

    .menu > .header-menu > li > img {
        margin-left: 5px;
    }

    .navbar {
        height: 70px;
        justify-content: space-between;
    }

    .menu-callUs {
        display: none;
    }

    .call-us-button {
        display: none;
    }
  
  // tablet (sm)
  @media(min-width: 768px) {
    .container {
      max-width: 720px;
    }

    .top-navbar span {
        display: block;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        margin-left: 10px;
    }

    .top-navbar a {
        text-decoration: none;
        color: white;
        display: flex;
    }
  }
  
  // laptop (m)
  @media(min-width: 1024px) {
    .container {
      max-width: 970px;
    }
  }
  
//   тут змінюватиметься нижній navbar
  // laptop-l (lg)
  @media(min-width: 1200px) {
    .container {
      max-width: 1170px;
    }

    .navbar {
        height: 85px;
    }

    .call-button {
        display: none;
    }

    .group {
        display: none;
    }

    .menu-callUs {
        display: flex;
        align-items: center;
    }

    .menu-callUs ul {
        display: flex;
    }

    .menu-callUs li {
        margin-right: 44px;
    }

    .menu-callUs a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #212529;
    }

    .menu-callUs a:hover {
        color: #00730C;
    }

    .menu-callUs a img {
        margin-left: 5px;
    }

    .menu-callUs a img:nth-child(2) {
        display: none;
    }

    .menu-callUs a:hover img:nth-child(2) {
        display: inline-block;
    }

    .menu-callUs a:hover img:nth-child(1) {
        display: none;
    }

    .call-us-button {
        display: block;
    }

  }
  
  // desktop
  @media(min-width:1600px) {
    .container {
      max-width: 1410px;
    }

    .menu-callUs {
        margin-left: 370px;
    }

  }
}
