* {
  box-sizing: border-box;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66667;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

header {
  width: 100%;
  color: white;
}
header .container {
  background-color: #0C4B35;
}
header .container-white-bg {
  background-color: white;
}
header .row {
  display: flex;
}
header .top-navbar {
  padding: 20px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
}
header .top-navbar a {
  margin-right: 20px;
}
header .top-navbar span {
  display: none;
}
header .email-call-location {
  display: flex;
}
header .header-menu {
  list-style: none;
  width: 53px;
  height: 16px;
  font-size: 12px;
  line-height: 17px;
}
header .navbar {
  height: 70px;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;
}
header .logo {
  margin-right: 149px;
}
header .call-button {
  margin-right: 40px;
}
header .menu-callUs {
  display: none;
}
header .container-center {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  header .container-center {
    max-width: 720px;
  }
  header .top-navbar span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-left: 10px;
  }
  header .top-navbar a {
    text-decoration: none;
    color: white;
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .container-center {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  header .container-center {
    max-width: 1170px;
  }
  header .navbar {
    height: 85px;
  }
  header .call-button {
    display: none;
  }
  header .group {
    display: none;
  }
  header .menu-callUs {
    display: flex;
  }
  header .menu-callUs ul {
    display: flex;
  }
  header .menu-callUs li {
    margin-right: 44px;
  }
  header .menu-callUs a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
  }
  header .menu-callUs a:hover {
    color: #00730C;
  }
  header .menu-callUs a img {
    margin-left: 5px;
  }
  header .menu-callUs a img:nth-child(2) {
    display: none;
  }
  header .menu-callUs a:hover img:nth-child(2) {
    display: inline-block;
  }
  header .menu-callUs a:hover img:nth-child(1) {
    display: none;
  }
}
@media (min-width: 1600px) {
  header .container-center {
    max-width: 1410px;
  }
}

main {
  margin: auto;
  width: 375px;
}
main .square-gray {
  height: 240px;
  background-color: rgb(196, 196, 196);
}
main .how-it-works {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  padding-bottom: 35px;
}
main .image-text {
  margin-left: 15px;
  display: flex;
  padding-top: 48px;
  padding-bottom: 10px;
}
main .image-text > h6 {
  color: #212529;
  padding-left: 5px;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 700;
}
main .title {
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  padding-bottom: 15px;
}
main .title span {
  color: #0C4B35;
}
main .description {
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-right: 16px;
  padding-bottom: 40px;
}
main .btn-how-it-works {
  height: 44px;
  width: 303px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00730C;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #00730C;
  border-radius: 5px;
}
main .text-arrow {
  display: flex;
  justify-content: center;
  color: #00730C;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
  cursor: pointer;
}
main .text-arrow > h6 {
  padding-right: 12px;
}
main .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
main .btn-happy-customrs {
  width: 133px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  border-radius: 32px;
  border: none;
}
main .btn-garden-created {
  width: 128px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
  border-radius: 32px;
  border: none;
  margin-right: 16px;
  margin-left: 12px;
}
main .quantity-members {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
main .quantity-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
main .services-we-provide {
  padding-top: 50px;
}
main .services-we-provide > h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
main .services-we-provide span {
  color: #0C4B35;
}
main .services-we-provide > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}
main .service {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .service-column {
  margin-left: 20px;
}
main .service-column > h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
main .service-column > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
main .col-xs-12 {
  padding: 10px 15px 10px 15px;
}/*# sourceMappingURL=style.css.map */