* {
  box-sizing: border-box;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66667;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

header {
  font-family: "Nunito", sans-serif;
  width: 100%;
  color: white;
}
header .container {
  padding: 0px 15px 0px 15px;
  width: 100%;
  margin: auto;
}
header .container-green-bg {
  background-color: #0C4B35;
}
header .container-white-bg {
  background-color: white;
}
header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top-navbar {
  padding: 20px 5px 15px 5px;
}
header .top-navbar a {
  margin-right: 20px;
}
header .top-navbar span {
  display: none;
}
header .email-call-location {
  display: flex;
}
header .header-menu {
  list-style: none;
  width: 53px;
  height: 16px;
  font-size: 12px;
  line-height: 17px;
}
header .menu > .header-menu > li {
  display: flex;
}
header .menu > .header-menu > li > img {
  margin-left: 5px;
}
header .navbar {
  height: 70px;
  justify-content: space-between;
}
header .menu-callUs {
  display: none;
}
header .call-us-button {
  display: none;
}
@media (min-width: 768px) {
  header .container {
    max-width: 720px;
  }
  header .top-navbar span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-left: 10px;
  }
  header .top-navbar a {
    text-decoration: none;
    color: white;
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  header .container {
    max-width: 1170px;
  }
  header .navbar {
    height: 85px;
  }
  header .call-button {
    display: none;
  }
  header .group {
    display: none;
  }
  header .menu-callUs {
    display: flex;
    align-items: center;
  }
  header .menu-callUs ul {
    display: flex;
  }
  header .menu-callUs li {
    margin-right: 44px;
  }
  header .menu-callUs a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
  }
  header .menu-callUs a:hover {
    color: #00730C;
  }
  header .menu-callUs a img {
    margin-left: 5px;
  }
  header .menu-callUs a img:nth-child(2) {
    display: none;
  }
  header .menu-callUs a:hover img:nth-child(2) {
    display: inline-block;
  }
  header .menu-callUs a:hover img:nth-child(1) {
    display: none;
  }
  header .call-us-button {
    display: block;
  }
}
@media (min-width: 1600px) {
  header .container {
    max-width: 1410px;
  }
  header .menu-callUs {
    margin-left: 370px;
  }
}

main {
  font-family: "Nunito", sans-serif;
  margin: auto;
  width: 100%;
}
main .container {
  padding: 0px 15px 0px 15px;
}
main .container-fluid {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  height: 710px;
}
main .woman-holding-plant {
  height: 240px;
  width: 375px;
  position: relative;
}
main .woman-holding-plant img {
  position: absolute;
  right: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .how-it-works {
  padding-bottom: 35px;
}
main .image-text {
  display: flex;
  padding-top: 48px;
  padding-bottom: 10px;
}
main .image-text h6 {
  color: #212529;
  padding-left: 5px;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 700;
}
main .title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: start;
}
main .description h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 40px;
  color: #212529;
}
main .btn-how-it-works {
  height: 44px;
  width: 303px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00730c;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #00730c;
  border-radius: 5px;
}
main .btn-how-it-works:hover {
  background-color: #ffffff;
  color: #00730c;
}
main .text-arrow {
  display: flex;
  justify-content: center;
  color: #00730c;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
  cursor: pointer;
}
main .text-arrow img:nth-child(2) {
  display: none;
}
main .text-arrow img:nth-child(1) {
  display: inline-block;
}
main .text-arrow h6 {
  padding-right: 12px;
  color: #00730c;
}
main .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
main .btn-happy-customrs {
  width: 133px;
  height: 32px;
  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  border-radius: 32px;
  border: none;
}
main .btn-garden-created {
  width: 128px;
  height: 32px;
  background: linear-gradient(180deg, #fff8f1 0%, #d7e8d9 100%);
  border-radius: 32px;
  border: none;
  margin-right: 1px;
  margin-left: 12px;
}
main .quantity-members {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
main .quantity-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
main .buttons-larger-screen {
  display: none;
}
main .services-we-provide {
  padding-top: 50px;
}
main .services-we-provide > h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
main .services-we-provide span {
  color: #00730c;
}
main .services-we-provide > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 16px;
  margin-right: 16px;
}
main .service {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
}
main .service-column {
  margin-left: 20px;
}
main .service-column > h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
main .service-column > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
main .service img:nth-child(2) {
  display: none;
}
main .services-we-provide p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}
main .images-block-experience {
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 1331px;
  margin-top: 0px;
}
main .container h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  margin-bottom: 15px;
}
main .container h1 span {
  color: #00730c;
}
main .container h6 {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
main .three-pictures {
  position: relative;
  height: 492px;
}
main .three-pictures img:nth-child(1) {
  width: 188px;
  height: 293px;
}
main .three-pictures img:nth-child(2) {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 291px;
  height: 358px;
}
main .three-pictures img:nth-child(3) {
  position: absolute;
  left: 103px;
  top: 300px;
  width: 241px;
  height: 162px;
}
main .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
main .service-about-company {
  width: 162px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
}
main .service-about-company img {
  width: 40px;
  height: 40px;
}
main .service-about-company h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #212529;
}
main .btn-discover-more {
  height: 40px;
  width: 167px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00730c;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #00730c;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
}
main .btn-discover-more:hover {
  background-color: #ffffff;
  color: #00730c;
  border-color: #00730c;
}
main .why-choose-us-backgr {
  background: #0c4b35;
  padding-top: 50px;
  height: 684px;
}
main .why-choose-us h1 {
  color: #ffffff;
  margin-top: 30px;
}
main .why-choose-us h6 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
main .proper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 158px;
}
main .checkmark {
  display: flex;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}
main .checkmark img {
  margin: auto;
}
main .proper h5 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
main .proper-take-care {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 29px;
  margin-bottom: 30px;
}
main .working-process-background {
  padding-top: 50px;
  padding-bottom: 50px;
}
main .working-process-background p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}
main .working-process:nth-child(1) {
  cursor: pointer;
  width: 345px;
  height: 208px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 12% no-repeat url(images/main/working\ process\ background\ 1.svg);
  margin-bottom: 20px;
}
main .working-process:nth-child(2) {
  cursor: pointer;
  width: 345px;
  height: 208px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 12% no-repeat url(images/main/working\ process\ background\ 2.svg);
  margin-bottom: 20px;
}
main .working-process:nth-child(3) {
  cursor: pointer;
  width: 345px;
  height: 208px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 12% no-repeat url(images/main/working\ process\ background\ 3.svg);
  margin-bottom: 20px;
}
main .working-process:nth-child(4) {
  cursor: pointer;
  width: 345px;
  height: 208px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 12% no-repeat url(images/main/working\ process\ background\ 4.svg);
  margin-bottom: 20px;
}
main .working-process:hover img:nth-child(1) {
  display: none;
}
main .working-process:hover img:nth-child(2) {
  display: inline-block;
}
main .working-process:hover h5 {
  color: #ffffff;
}
main .working-process:hover h6 {
  color: #ffffff;
}
main .working-process:nth-child(1):hover {
  background: right 5% top 12% no-repeat url(images/main/working\ process\ background\ 1\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
}
main .working-process:nth-child(2):hover {
  background: right 5% top 12% no-repeat url(images/main/working\ process\ background\ 2\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
}
main .working-process:nth-child(3):hover {
  background: right 5% top 12% no-repeat url(images/main/working\ process\ background\ 3\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
}
main .working-process:nth-child(4):hover {
  background: right 5% top 12% no-repeat url(images/main/working\ process\ background\ 4\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
}
main .working-process h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}
main .our-best-reliable-gardening-background {
  background: no-repeat left 35% top 85% url(images/main/hands\ holding\ leafs.svg);
  margin-bottom: 50px;
}
main .our-best-reliable-gardening {
  padding-top: 50px;
  padding-bottom: 50px;
}
main .our-best-reliable-gardening h3 {
  width: 272px;
  height: 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-left: 41px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
main .btn-call-us-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 137px;
  height: 40px;
  background: #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00730c;
  margin-left: 108px;
}
main .our-trained-staff-background p {
  width: 345px;
  height: 110px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}
main .staff {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .wrapper {
  height: 343px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .slider {
  height: 343px;
  overflow: hidden;
  position: relative;
  width: inherit;
  align-self: center;
}
main .wrapper > input {
  display: none;
}
main .slides {
  position: absolute;
  width: inherit;
}
main .slide1,
main .slide2,
main .slide3,
main .slide4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 5px;
}
main .slide1 {
  background-image: url(images/main/staff1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .slide2 {
  background-image: url(images/main/staff2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .slide3 {
  background-image: url(images/main/staff3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .slide4 {
  background-image: url(images/main/staff4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .staffInfo {
  background: linear-gradient(6.68deg, #00730c 4.95%, rgba(251, 246, 238, 0) 264.79%);
  border-radius: 5px;
  width: 100%;
  height: 62px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .staffInfo h4 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
main .staffInfo h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
main .staff .controls {
  height: 10px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 50px;
}
main .staff label {
  cursor: pointer;
  display: inline-block;
  height: 6px;
  position: relative;
  width: 30px;
  transition: ease-in-out 0.5s;
  border-radius: 8px;
}
main .staff label:after {
  border: 2px solid #00730c;
  border-radius: 8px;
  content: " ";
  display: block;
  height: 2px;
  width: 26px;
}
main .staff label:hover,
main #slide1:checked ~ .controls label:nth-of-type(1),
main #slide2:checked ~ .controls label:nth-of-type(2),
main #slide3:checked ~ .controls label:nth-of-type(3),
main #slide4:checked ~ .controls label:nth-of-type(4) {
  background: #00730c;
}
main .slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(0.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}
main #slide1:checked ~ .slider > .slide1,
main #slide2:checked ~ .slider > .slide2,
main #slide3:checked ~ .slider > .slide3,
main #slide4:checked ~ .slider > .slide4 {
  opacity: 1;
  z-index: 0;
  transform: scale(1);
}
main .what-clients-saying-backgr {
  height: 585px;
  padding-top: 50px;
  background: #e6f6ea;
  box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099), inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
  -webkit-backdrop-filter: blur(36.378px);
          backdrop-filter: blur(36.378px);
}
main .what-clients-saying-backgr p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 40px;
}
main .client-response {
  margin: auto;
  background: #ffffff;
  width: 345px;
  padding: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
main .client-response h6 {
  margin-top: 44px;
  margin-bottom: 15px;
}
main .client-response h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}
main .client-response p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #676767;
  margin-bottom: 0px;
  text-align: left;
}
main .client-response-mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .frequently-asked-questions-backgr {
  margin-top: 100px;
  padding-top: 50px;
}
main .frequently-asked-questions-backgr p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 40px;
}
main .questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 44px;
  background: #fff8f1;
  border-radius: 3px;
}
main .question h6 {
  width: 285px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #212529;
}
main .question img {
  width: 16px;
  height: 16px;
}
main .our-insights-articles-backgr {
  padding-top: 50px;
  padding-bottom: 50px;
}
main .our-insights-articles-backgr p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}
main .ask-the-agronomists {
  margin-top: 40px;
  padding: 30px 20px 35px 20px;
  background: no-repeat right 1% top 1% url(images/main/ask\ agronomist\ backgr.svg);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
}
main .planting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 122px;
  height: 30px;
  background: #d9f1e0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}
main .planting > h6 {
  width: 70px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #00730c;
}
main .ask-the-agronomists h5 {
  width: 277px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #00730c;
  margin-bottom: 15px;
}
main .ask-the-agronomists > h6 {
  width: 305px;
  height: 154px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  margin-bottom: 30px;
}
main .line {
  width: 305px;
  height: 1px;
  background: #e3e3e3;
  margin-bottom: 10px;
}
main .underline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .underline > h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
main .underline-admin {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .partners-backgr {
  padding-left: 30px;
  padding-right: 30px;
  height: 210px;
  position: relative;
}
main .partners-backgr-companies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .partners-backgr > img:nth-child(1) {
  width: 141px;
  height: 70px;
}
main .partners-backgr > img:nth-child(2) {
  width: 112px;
  height: 70px;
}
main .we-have-solutions {
  position: absolute;
  left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  gap: 25px;
  width: 320px;
  height: 179px;
  background: #d9f1e0;
  border-radius: 5px;
  margin: auto;
}
main .we-have-solutions h3 {
  width: 220px;
  height: 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #212529;
}
main .we-have-solutions h3 span {
  color: #00730c;
}
main .solution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 154px;
  height: 40px;
}

@media (min-width: 768px) {
  main .container-fluid {
    height: 470px;
  }
  main .stand-together {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  main .how-it-works {
    max-width: 50%;
  }
  main .woman-holding-plant {
    max-width: 50%;
  }
  main .woman-holding-plant img {
    bottom: 0;
    top: 50%;
  }
  main .col-sm-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .services-we-provide p {
    width: 545px;
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .service {
    width: 330px;
    height: 366px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 44px;
    padding-right: 43px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: no-repeat url(images/main/XMLID_46_white.svg);
    background-position: 80px 25px;
  }
  main .service:hover {
    background: url(images/main/XMLID_46_.svg);
    color: white;
    border-radius: 10px;
  }
  main .service:hover h6 {
    color: white;
  }
  main .service-column {
    margin: 0 auto;
    text-align: center;
  }
  main .service-column h5 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  main .service-column > h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  main .service img {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
  }
  main .services-we-provide h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }
  main .service:hover img:nth-child(2) {
    display: inline-block;
  }
  main .service:hover img:nth-child(1) {
    display: none;
  }
  main .btn-discover-more {
    margin: 0;
  }
  main .images-block-experience {
    height: 850px;
  }
  main .three-pictures {
    min-width: 50%;
  }
  main .services {
    margin-bottom: 30px;
  }
  main .services-about-company {
    max-width: 50%;
  }
  main .service-about-company {
    cursor: pointer;
  }
  main .service-about-company:hover {
    background-color: #00730c;
  }
  main .service-about-company:hover img {
    border: 1px solid white;
    border-radius: 50%;
  }
  main .service-about-company:hover h6 {
    color: #ffffff;
  }
  main .why-choose-us-backgr {
    height: 659px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  main .why-choose-us {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  main .why-choose-us-info h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  main .why-choose-us-info h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 50px;
  }
  main .proper-take-care {
    margin-bottom: 50px;
  }
  main .why-choose-us-info > .btn-discover-more {
    margin-bottom: 0px;
    margin: 0;
  }
  main .working-process-background {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  main .working-process-background h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }
  main .working-process-background p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .working-process h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  main .working-process h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .working-process:nth-child(1) {
    width: 330px;
    height: 408px;
    padding: 50px 31px 70px 29px;
  }
  main .working-process:nth-child(2) {
    width: 330px;
    height: 408px;
    padding: 50px 31px 70px 29px;
  }
  main .working-process:nth-child(3) {
    width: 330px;
    height: 408px;
    padding: 50px 31px 70px 29px;
  }
  main .working-process:nth-child(4) {
    width: 330px;
    height: 408px;
    padding: 50px 31px 70px 29px;
  }
  main .working-process:nth-child(1) {
    background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 1.svg);
  }
  main .working-process:nth-child(2) {
    background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 2.svg);
  }
  main .working-process:nth-child(3) {
    background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 3.svg);
  }
  main .working-process:nth-child(4) {
    background: right 10% top 50% no-repeat url(images/main/working\ process\ background.svg), right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 4.svg);
  }
  main .working-process:nth-child(1):hover {
    background: right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 1\ white.svg), right 10% top 50%/100px no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
  }
  main .working-process:nth-child(2):hover {
    background: right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 2\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
  }
  main .working-process:nth-child(3):hover {
    background: right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 3\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
  }
  main .working-process:nth-child(4):hover {
    background: right 5% top 15%/60px no-repeat url(images/main/working\ process\ background\ 4\ white.svg), right 10% top 50% no-repeat url(images/main/working\ process\ background\ white.svg), #00730c;
  }
  main .working-process img:nth-child(1) {
    width: 70px;
    height: 70px;
  }
  main .working-process:hover img:nth-child(2) {
    width: 70px;
    height: 70px;
  }
  main .our-best-reliable-gardening {
    margin-left: 350px;
  }
  main .bigger-text {
    width: 371px;
    height: 61px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
  }
  main .p-button-tog {
    display: flex;
    justify-content: space-between;
  }
  main .what-clients-saying-backgr h1 {
    width: 442px;
    height: 61px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }
  main .what-clients-saying-backgr p {
    width: 380px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .client-response {
    width: 690px;
    height: 341px;
    padding: 32px 28px 33px 25px;
  }
  main .client-response img {
    height: 276px;
    width: 193px;
  }
  main .horizontal {
    display: flex;
    gap: 31px;
  }
  main .horizontal-2 h6 {
    width: 405px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 27px;
  }
  main .client-response-mark-info h5 {
    width: 122px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5px;
  }
  main .client-response-mark-info p {
    width: 64px;
    height: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  main .client-response-mark-info-stars {
    display: flex;
    gap: 13px;
  }
  main .client-response-mark-info-stars img {
    height: 20px;
    width: 20px;
  }
  main .we-have-solutions {
    width: 720px;
    height: 125px;
    flex-direction: row;
    justify-content: space-between;
  }
  main .solution {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1024px) {
  main .container {
    max-width: 970px;
    margin: auto;
  }
  main .services-we-provide p {
    width: 727px;
  }
  main .service {
    cursor: pointer;
  }
  main .why-choose-us {
    gap: 82px;
  }
  main .our-best-reliable-gardening {
    margin-left: 475px;
  }
  main .we-have-solutions {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  main .container {
    max-width: 1170px;
  }
  main .woman-holding-plant {
    height: 400px;
    width: 600px;
  }
  main .woman-holding-plant img {
    top: 70px;
    right: 0px;
  }
  main .col-lg-4 {
    flex-wrap: wrap;
  }
  main .services-we-provide p {
    width: 852px;
  }
  main .young-woman-taking-care-her-plants img {
    width: 600px;
    height: 300px;
    top: 0%;
  }
  main .services {
    width: 525px;
  }
  main .why-choose-us-backgr {
    height: 659px;
  }
  main .our-best-reliable-gardening {
    display: flex;
  }
  main .we-have-solutions {
    width: 1140px;
  }
}
@media (min-width: 1600px) {
  main .container {
    max-width: 1410px;
    margin: auto;
  }
  main .container-fluid {
    background: no-repeat url(images/main/plant.svg), linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
    background-position-y: 95%;
    height: 719px;
  }
  main .stand-together {
    gap: 100px;
  }
  main .woman-holding-plant img {
    top: 46px;
    width: 750px;
  }
  main .how-it-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .image-text {
    margin-left: 0px;
    padding-top: 87px;
  }
  main .image-text h6 {
    font-size: 16px;
    line-height: 20px;
  }
  main .title h1 {
    margin-left: 0px;
    font-size: 58px;
    line-height: 79px;
  }
  main .description h6 {
    margin-left: 0px;
    font-size: 18px;
    line-height: 30px;
  }
  main .btn-how-it-works {
    margin: 0 0;
    width: 175px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
  main .row-btn-how-it-works-text-arrow {
    display: flex;
  }
  main .text-arrow {
    margin-top: 0px;
    margin-left: 30px;
    width: 159px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  main .text-arrow h6 {
    width: 142px;
    color: #676767;
  }
  main .text-arrow img {
    width: 20px;
    height: 15px;
  }
  main .text-arrow img:nth-child(2) {
    display: none;
  }
  main .buttons {
    display: none;
  }
  main .buttons-larger-screen {
    margin-top: 58px;
    display: flex;
  }
  main .button-larger-screen {
    width: 149px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  main .quantity-text {
    margin-left: 10px;
    width: 89px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #212529;
  }
  main .quantity {
    width: 50px;
    height: 50px;
    background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
    border-radius: 35px;
    padding: 15px 7px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #212529;
  }
  main .woman-holding-plant {
    width: 850px;
    height: 673px;
  }
  main .services-we-provide {
    padding-top: 100px;
  }
  main .col-xl-3 {
    display: flex;
    flex-wrap: wrap;
  }
  main .service {
    width: 330px;
    height: 366px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 44px;
    padding-right: 43px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  main .services-we-provide p {
    width: 1136px;
    height: 60px;
    margin: auto;
  }
  main .service:nth-child(4) {
    margin-right: 0px;
  }
  main .service:nth-child(8) {
    margin-right: 0px;
  }
  main .container h1 {
    margin-bottom: 30px;
  }
  main .images-block-experience {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 1153px;
    background: no-repeat url(images/main/Fern.svg);
    background-position-y: 25%;
    background-position-x: -20%;
  }
  main .three-pictures img:nth-child(1) {
    width: 450px;
    height: 706px;
  }
  main .three-pictures img:nth-child(2) {
    left: 24px;
    top: 36px;
    width: 601px;
    height: 741px;
  }
  main .three-pictures img:nth-child(3) {
    left: 230px;
    top: 597px;
    width: 456px;
    height: 356px;
  }
  main .services-about-company h1 {
    margin-top: 36px;
    width: 574px;
    height: 122px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
  }
  main .services-about-company h6 {
    width: 672px;
    height: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  main .services {
    gap: 30px;
    width: 690px;
    margin-bottom: 50px;
  }
  main .service-about-company {
    width: 330px;
    height: 97px;
    flex-direction: row;
  }
  main .service-about-company img {
    width: 67px;
    height: 67px;
  }
  main .service-about-company h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 198px;
    height: 33px;
  }
  main .why-choose-us-backgr {
    background: no-repeat center center url(images/main/why\ choose\ us\ backgr.svg);
  }
  main .why-choose-us-info h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    margin-top: 0px;
  }
  main .why-choose-us-info h6 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  main .proper {
    gap: 20px;
    width: 242px;
  }
  main .proper h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  main .checkmark {
    width: 30px;
    height: 30px;
  }
  main .proper-take-care {
    gap: 20px 118px;
    margin-bottom: 50px;
  }
  main .btn-discover-more {
    height: 50px;
    width: 190px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  main .working-process-background p {
    width: 1136px;
    margin: auto;
  }
  main .our-best-reliable-gardening {
    margin-left: 610px;
    align-items: center;
  }
  main .our-best-reliable-gardening h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
    width: 448px;
    height: 90px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  main .btn-call-us-button {
    width: 170px;
    height: 50px;
    margin-left: 85px;
  }
  main .our-trained-staff-background p {
    width: 956px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .slides {
    background-size: 25%;
  }
  main .staffInfo {
    width: 25%;
  }
  main .partners-backgr {
    height: 263px;
  }
  main .we-have-solutions {
    left: 95px;
    bottom: -63px;
    width: 1410px;
    padding-left: 100px;
    padding-right: 100px;
  }
  main .we-have-solutions h3 {
    width: 764px;
    height: 61px;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
  }
}
footer {
  font-family: "Nunito", sans-serif;
  color: white;
  width: 100%;
  margin: auto;
}
footer .container {
  padding: 0px 15px 0px 15px;
}
footer .footr-backgr {
  margin: auto;
  height: 1081px;
  width: 375px;
  background: #0C4B35;
  padding-top: 139px;
}
footer .subscribe-to-newsletter {
  width: 205px;
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
footer .subscribe-to-newsletter-text {
  width: 345px;
  height: 66px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 31px;
}
footer .inp-foot {
  background-color: #0C4B35;
  border: none;
  width: 199px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
footer ::-webkit-input-placeholder {
  color: #ffffff;
}
footer .email-subscribe {
  display: flex;
  align-items: flex-end;
}
footer .subscribe {
  width: 101px;
  height: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
footer .social-networks {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 40px;
}
footer .facebook-network img:nth-child(2) {
  display: none;
}
footer .facebook-network:hover img:nth-child(1) {
  display: none;
}
footer .facebook-network:hover img:nth-child(2) {
  display: inline-block;
}
footer .twitter-network img:nth-child(2) {
  display: none;
}
footer .twitter-network:hover img:nth-child(1) {
  display: none;
}
footer .twitter-network:hover img:nth-child(2) {
  display: inline-block;
}
footer .google-network img:nth-child(2) {
  display: none;
}
footer .google-network:hover img:nth-child(1) {
  display: none;
}
footer .google-network:hover img:nth-child(2) {
  display: inline-block;
}
footer .linkedin-network img:nth-child(2) {
  display: none;
}
footer .linkedin-network:hover img:nth-child(1) {
  display: none;
}
footer .linkedin-network:hover img:nth-child(2) {
  display: inline-block;
}
footer .contacts-text-footer {
  width: 74px;
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
footer .contacts-text-footer-adress {
  width: 266px;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
footer .contacts-text-footer-number {
  width: 233px;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
footer .contacts-text-footer-email {
  width: 148px;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 40px;
}
footer .useful-links {
  width: 103px;
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
footer .useful-link-group {
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
footer .useful-links-pair {
  display: flex;
  margin-top: 10px;
}
footer .right-arrow-footer {
  display: flex;
  gap: 10px;
}
footer .blog-footer {
  margin-left: 122px;
}
footer .FAQ-footer {
  margin-left: 100px;
}
footer .contact-us-footer {
  margin-left: 107px;
}
footer .thank-you-footer {
  margin-left: 116px;
}
footer .popular-services {
  width: 133px;
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 15px;
}
footer .popular-services-variants {
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}
footer .distance-t-b {
  margin-top: 41px;
  margin-bottom: 15px;
}
footer .copyright-cent {
  margin: auto;
  width: 286px;
  height: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 20px;
}
footer .privacy-sitemap-terms {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .privacy-sitemap-terms-variant {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

@media (min-width: 1600px) {
  footer .footr-backgr {
    width: auto;
  }
  footer .container {
    max-width: 1410px;
    margin: auto;
  }
  footer .footr-blocks-large-scr {
    display: flex;
    gap: 96px;
  }
  footer .subscribe-to-newsletter-block {
    width: 498px;
  }
  footer .subscribe-to-newsletter {
    width: 273px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 80px;
  }
  footer .subscribe-to-newsletter-text {
    width: 449px;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 44px;
  }
  footer .email-subscribe {
    justify-content: space-between;
  }
  footer .inp-foot {
    width: 199px;
    height: 25px;
    line-height: 25px;
  }
  footer .subscribe {
    width: 110px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  footer .social-networks {
    margin-top: 30px;
    margin-bottom: 41px;
  }
  footer .social-networks img {
    height: 40px;
    width: 40px;
  }
  footer .distance-t-b {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  footer .contacts-text-footer {
    width: 98px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 80px;
  }
  footer .contacts-text-footer-adress {
    width: 208px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  footer .contacts-text-footer-number {
    width: 150px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  footer .virgule {
    display: none;
  }
  footer .contacts-text-footer-email {
    width: 190px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  footer .useful-links-block {
    width: 255px;
  }
  footer .useful-links {
    width: 138px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 80px;
  }
  footer .useful-link-group {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  footer .useful-links-pair {
    margin-top: 20px;
  }
  footer .right-arrow-footer {
    gap: 5px;
  }
  footer .blog-footer {
    margin-left: 78px;
  }
  footer .FAQ-footer {
    margin-left: 50px;
  }
  footer .contact-us-footer {
    margin-left: 59px;
  }
  footer .thank-you-footer {
    margin-left: 70px;
  }
  footer .popular-services {
    margin-top: 0px;
    margin-bottom: 80px;
    width: 177px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  footer .popular-services-variants {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
  footer .copyright-cent {
    margin: 0;
    width: 425px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  footer .privacy-sitemap-terms {
    gap: 30px;
  }
  footer .privacy-sitemap-terms-variant {
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  footer .end-of-footr {
    display: flex;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */